

<div class="body">
  <!--<ng-content></ng-content>-->
  <form  [formGroup]="formGroup" (ngSubmit)="update()">
    <p>
      <label >Song Name: </label>
      <mat-form-field class="mat-form-field">

        <input  matInput type="text"  formControlName="name">
      </mat-form-field>
    </p>

    <p>
      <mat-checkbox  formControlName="listened">Listened</mat-checkbox>
      <mat-checkbox  formControlName="favor">Favourite</mat-checkbox>
    </p>

    <p>
      <label >Artist:  </label>
      <mat-form-field >
        <input matInput type="text" formControlName="singer" >


      </mat-form-field>
    </p>
    <p>
      <button  type="submit" >
        <img src="assets/img/submit002.png" width="120" height="50" style="background: #f5f4f5;border-right: #f5f4f5; border-width: 10px">

      </button>
      <button (click)="cancel()">
        <img src="assets/img/cancel002.jpg" width="120" height="50" >
      </button>
    </p>


  </form>

</div>

